{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %} Complete {% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="{% url 'yaksh:index' %}">
        <img src="{% static 'yaksh/images/main_logo.png' %}" alt="YAKSH" width="45px" height="40px">
    </a>
</nav>
{% endblock %}

{% block content %}
<br>
{% if check_attempt == "yes" %}
<center><h1>you have already attempted it</h1></center>
{% else %}
{% if module_id and not paper.course.is_trial %}
<center>
    <div class="alert alert-info col-md-8">
        Note:- Please Click on the Next button to submit the quiz. Please do not close the browser without clicking Next.
    </div>
</center>
{% endif %}
{% if paper.questions_answered.all or paper.questions_unanswered.all %}
    <center>
    <div class="col-md-8">
        <h3>Submission Status</h3>
        <table class="table table-dark table-responsive-sm" >
            <thead class="thead-dark">
                <tr>
                    <th> Question</th>
                    <th> Status </th>
                </tr>
            </thead>
            <tbody class="list">
            {% for question in paper.questions.all %}
                {% if question in paper.questions_answered.all %}
                    <tr>
                    <td> {{ question.summary }} </td>
                    <td> <span class="badge badge-success">Attempted</span> </td>
                {% else %}
                    <tr>
                    <td> {{ question }} </td>
                    <td> <span class="badge badge-warning">Not Attempted</span> </td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </center>
{% endif %}
<br><br>
<center class="container">
    <h5>
        <span class="alert alert-success">{{message}}</span>
    </h5>
    <br>
    <h1> Dear {{user }} your score is {{newgrade}} / {{total_grades}}  and has been recorded</h1>
</center>
<center>
<br>
{% if module_id and not paper.course.is_trial %}
    {% if first_unit %}
        <a href="{% url 'yaksh:next_unit' course_id module_id learning_unit.id '1' %}" class="btn btn-info btn-lg" id="Next"> Next
            <span class="fa fa-step-forward">
            </span>
        </a>
    {% else %}
<form action="/exam/complete/{{paper.attempt_number}}/{{module_id}}/{{new_answer.question_paper.id}}/{{course_id}}/" method="post">{% csrf_token %}
<input name="username" value="{{user.username}}" type="hidden"></input>
<input name="attempt_number" value="{{paper.attempt_number}}" type="hidden"></input>
<input name="marks_obtained" value="{{newgrade}}" type="hidden"></input>
<input name="percentage" value="{{newgrade|div:total_grades|mul:100}}" type="hidden"></input>
<input name="result" value="{{result}}" type="hidden"></input>
<input name="status" value="completed" type="hidden"></input>
<input name="course_name" value="{{course_name_quiz}}" type="hidden"></input>


<center><a href="/exam" class="btn btn-primary btn-lg">Next</a></center>


</form>


        </a>
    {% endif %}
{% else %}
    <a href="{% url 'yaksh:index' %}" id="home" class="btn btn-primary btn-lg"> Home </a>
{% endif %}
{% endif %}
{{module_id.name}}

</center>
<br><br>
{% endblock content %}
