<html>
    
<head>

<link rel="stylesheet" href="pelumi.css">
</head>
<body>
<div class=" monday" align ="center" >
    <h3>pelumi </h3>

<input type="number" name="age" placeholder="age"> <br>
<input type="text"   name="name" placeholder="name"> <br>
<input type="text" name="username" placeholder="username"> <br>
<input type="password" name="password" placeholder="password"> <br>
<input type="number" name="age" placeholder="age"> <br>
<input type="text"   name="name" placeholder="name"> <br>
<input type="text" name="username" placeholder="username"> <br>
<input type="text" name="password" placeholder="password"> <br><input type="number" name="age" placeholder="age"> <br>
<input type="text"   name="name" placeholder="name"> <br>
<input type="text" name="username" placeholder="username"> <br>
<input type="text" name="password" placeholder="password"> <br>
<input type="number" name="age" placeholder="age"> <br>
<input type="text"   name="name" placeholder="name"> <br>
<input type="text" name="username" placeholder="username"> <br>
<input type="text" name="password" placeholder="password"> <br>
<input type="number" name="age" placeholder="age"> <br>
<input type="text"   name="name" placeholder="name"> <br>
<input type="text" name="username" placeholder="username"> <br>
<input type="text" name="password" placeholder="password"> <br>
<input type="number" name="age" placeholder="age"> <br>
<input type="text"   name="name" placeholder="name"> <br>
<input type="text" name="username" placeholder="username"> <br>
<input type="text" name="password" placeholder="password"> <br>
<input type="submit" value="sign in">
   </body>
</head>    
</html>